<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFML_SpaceSEM.GameInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SFML_SpaceSEM.GameInfo>
            <setting name="GameName" serializeAs="String">
                <value>Space SEM</value>
            </setting>
            <setting name="GameVersionPrefix" serializeAs="String">
                <value>v</value>
            </setting>
            <setting name="GameVersionSuffix" serializeAs="String">
                <value>-prealpha</value>
            </setting>
            <setting name="GameMajorVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameMinorVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GameHotfixVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </SFML_SpaceSEM.GameInfo>
    </applicationSettings>
</configuration>