<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFML_Engine.Assets.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFML_Engine.EngineInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SFML_Engine.Assets.Settings1>
            <setting name="Setting" serializeAs="String">
                <value>test</value>
            </setting>
        </SFML_Engine.Assets.Settings1>
    </userSettings>
    <applicationSettings>
        <SFML_Engine.EngineInfo>
            <setting name="EngineName" serializeAs="String">
                <value>Trigger Engine</value>
            </setting>
            <setting name="EngineVersionPrefix" serializeAs="String">
                <value>v</value>
            </setting>
            <setting name="EngineVersionSuffix" serializeAs="String">
                <value>-alpha</value>
            </setting>
            <setting name="EngineMajorVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EngineMinorVersion" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="EngineHotfixVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </SFML_Engine.EngineInfo>
    </applicationSettings>
</configuration>
